@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


.hero-glow {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(99,102,241,0.25), transparent 70%);
  filter: blur(80px);
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}


.bg-red{
    background-color: red;
}